<html>
    {%extends 'myapp/parent.html'%}
    {%block title_block%}
    <h2>Neeraj's blog</h2>

    {%endblock%}
    <body>
        {%block content_block%}
        <h1 style="color:red">Neeraj's home blog</h1>
        {%for post in post_list%}
       <a href="{{post.get_absolute_url}}"> <h2><b>{{post.title}}</b></h2></a>
       {%if tag%}
          <h1 style="color:violet">post tagged with {{tag.name}}</h1>
          {%endif%}
          <p style="color:rgb(127, 47, 255)">tags:
              {%for tag in post.tags.all%}
              <a href="{%url "post_list_by_tag_name" tag.slug%}">{{tag.name}}</a>
              {%endfor%}
          </p>
       <i><b> Published on {{post.publish}} by {{post.author|title}}</b></i>
        {{post.body|truncatewords:40|linebreaks}}
        {%endfor%}
        {%include 'myApp/pagination.html' with page=post_list%}
        {%endblock%}

    </body>
</html>